.advantages__wrapper {
  padding-top: 129px;
  padding-bottom: 129px;
  background-color: $color-light-white;

  @include vp-1199 {
    padding-top: 89px;
    padding-bottom: 129px;
  }

  @include vp-767 {
    padding: 53px 0 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 54px;
    letter-spacing: 1.62px;
    font-family: $ff-alumni;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 64px;
      font-size: 42px;
    }

    @include vp-767 {
      margin-bottom: 58px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }
}

.advantages__list {
  ul {
    display: grid;
    grid-template-columns: 340px 240px 340px;
    grid-template-rows: auto auto;
    column-gap: 60px;
    row-gap: 80px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-1199 {
      grid-template-columns: 301px 315px;
      grid-template-rows: auto auto auto;
      column-gap: 53px;
      row-gap: 42px;
      margin-left: -10px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      margin-left: 0;
    }
  }
}

.advantages__list li:nth-child(1) {
  padding-left: 20px;
  padding-bottom: 78px;
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: 2px solid rgba(209, 10, 66, 0.20);

  @include vp-1199 {
    padding-left: 0;
    padding-bottom: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: none;
  }
}

.advantages__list li:nth-child(2) {
  padding-bottom: 78px;
  grid-column: 3/4;
  grid-row: 1/2;
  border-bottom: 2px solid rgba(209, 10, 66, 0.20);

  @include vp-1199 {
    padding-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: none;
  }
}

.advantages__list li:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/-1;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.advantages__list li:nth-child(4) {
  padding-left: 20px;
  grid-column: 1/2;
  grid-row: 2/3;

  @include vp-1199 {
    margin-top: 10px;
    padding-left: 0;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

.advantages__list li:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2/3;

  @include vp-1199 {
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 72px auto;
  grid-template-rows: auto auto;
  column-gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/-1;
    color: $color-blue;
    font-size: 20px;
    font-weight: 700;

    @include vp-1199 {
      font-size: 18px;
    }
  }

  p {
    margin-top: 32px;
    margin-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/-1;
    color: $color-blue;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.4px;

    @include vp-1199 {
      margin-top: 24px;
    }

    @include vp-767 {
      width: 226px;
      margin-top: 6px;
    }
  }
}

.advantages__item--left {
  h3 {
    margin-left: 35px;

    @include vp-1199 {
      margin-left: 15px;
    }

    @include vp-767 {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  p {
    margin-left: 35px;

    @include vp-1199 {
      margin-left: 15px;
    }

    @include vp-767 {
      width: 183px;
      margin-left: 0;
    }
  }
}

.advantages__item--right {
  h3 {
    @include vp-1199 {
      margin-left: -12px;
    }

    @include vp-767 {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  p {
    @include vp-1199 {
      margin-left: -12px;
    }
  }
}

.advantages__item--center {
  display: flex;
  flex-direction: column;
  padding: 74px 34px 60px;
  background-color: $color-medium-blue;

  @include vp-1199 {
    width: 442px;
    margin: 0 auto;
    padding: 51px 135px 39px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    padding: 57px 74px 43px;
  }

  h3 {
    margin-left: 18px;
    color: $color-default-white;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.1px;

    @include vp-1199 {
      margin-left: 35px;
      font-size: 20px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      line-height: 32px;
    }
  }

  span {
    margin-left: 9px;
    font-size: 74px;
    font-weight: 700;

    @include vp-1199 {
      margin-left: 0;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  p {
    margin-top: 33px;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    @include vp-1199 {
      margin-top: 9px;
    }

    @include vp-767 {
      width: 172px;
      margin-top: 10px;
    }
  }
}

.advantages__info {
  margin-top: 10px;

  @include vp-1199 {
    margin-top: 5px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  span {
    margin-top: 10px;
    background: linear-gradient(129deg, #D10A42 0%, #0041CA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 71px;
    font-weight: 700;
    line-height: 30px;

    @include vp-1199 {
      font-size: 58px;
    }

    @include vp-767 {
      margin-top: 0;
      line-height: 50px;
    }
  }

  span:nth-child(2) {
    background: none;
    -webkit-text-fill-color: $color-light-blue;
    color: $color-light-blue;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
