.btn {
  display: inline-flex;
  margin: 0 auto;
  padding: 26px 43px;

  color: $color-blue;
  font-family: $ff-roboto;
  font-size: 11px;
  font-weight: 700;

  background-color: $color-default-white;
  border: 2px solid $color-blue;
  cursor: pointer;
  text-transform: uppercase;

  transition: opacity $trans-default;
  user-select: none;

  &--red {
    background-color: $color-torch-red;
  }

  &.focus-visible {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
