.intro__wrapper {
  display: flex;
  width: 100%;
  gap: 80px;
  justify-content: flex-end;
  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1199 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-top: 100px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 79px;
  }
}

.intro__text {
  width: 31%;

  @include vp-1199 {
    width: 520px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 274px;
    margin-bottom: 33px;
    transform: translateX(-8px);
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 48px;
    font-family: $ff-alumni;
    letter-spacing: 1.44px;
    line-height: normal;

    @include vp-1199 {
      margin-top: 0;
      font-size: 42px;
      text-align: center;
    }

    @include vp-767 {
      margin-top: 0;
      font-size: 32px;
      text-align: start;
      letter-spacing: 0.96px;
    }
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;

    @include vp-1199 {
      margin-top: 0;
      text-align: center;
    }

    @include vp-767 {
      margin-top: 9px;
      text-align: start;
    }
  }

  p {
    margin-top: 42px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.43px;

    @include vp-1199 {
      margin-top: 38px;
      margin-bottom: 43px;
      text-align: center;
    }

    @include vp-767 {
      margin-top: 28px;
      margin-right: 15px;
      margin-bottom: 0;
      text-align: start;
      font-size: 15px;
      letter-spacing: 0.4px;
    }
  }

  span {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.43px;

    @include vp-1199 {
      display: none;
    }
  }
}

.intro__media {
  position: relative;
  z-index: 0;

  @include vp-767 {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 40px;
    width: 100vw;
  }

  img {
    @include vp-1199 {
      margin: 0 auto;
    }

    @include vp-767 {
      width: 100%;
      height: 313px;
      object-fit: cover;
    }
  }
}

.intro__video-wrapper {
  position: absolute;
  top: 289px;
  left: -62px;
  width: fit-content;
  z-index: 10;

  @include vp-1199 {
    top: 262px;
    left: 205px;
  }

  @include vp-767 {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.intro__video {
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    min-width: 100%;
    width: auto;
    height: auto;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: ($vp-320)) {
    height: 167px;
  }
}

.intro__video-btn {
  position: absolute;
  bottom: 65px;
  right: 134px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  @include vp-1199 {
    bottom: 45px;
    right: 90px;
    width: 73px;
    height: 73px;
  }

  @include vp-767 {
    bottom: 0;
    top: 77%;
    right: 50%;
    transform: translateX(44px);
    z-index: 10;
  }

  @media (min-width: 350px) and (max-width: 499px) {
    top: 75%;
  }

  @media (min-width: 500px) and (max-width: 767px) {
    top: 70%;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url("../img/sprite/play-default.svg");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";

    @include hover {
      background-image: url("../img/play-hover.png");
    }

    @include vp-1199 {
      top: -2px;
      left: 7px;
      width: 73px;
      height: 73px;
    }

    @include vp-767 {
      top: -2px;
      left: 7px;
    }
  }

  @include hover-focus {
    &::before {
      background-image: url("../img/play-hover.png");
      background-color: transparent;
      border-radius: 50%;
      outline: 0;
      outline-offset: 0;
    }
  }

  &.focus-visible {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
  }
}
