.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include vp-767 {
    padding-top: 15px;
  }
}

.main-header__logo {
  margin-top: 10px;

  @include vp-767 {
    margin-top: 5px;
  }

  a {
    @include hover-focus {
      opacity: 0.8;
    }
  }
}

.main-header__contacts {
  z-index: 2;

  a {
    font-weight: 600;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 0.78px;
    font-family: $ff-alumni;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 24px;
      letter-spacing: 0.48px;
    }

    @include vp-767 {
      font-size: 20px;
      letter-spacing: 0.4px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
