.promo {
  padding-top: 149px;
  padding-bottom: 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 54px;
    letter-spacing: 1.62px;
    font-family: $ff-alumni;
    text-align: center;
  }
}

.promo__wrapper {
  display: flex;
}

.promo__info {
  display: flex;
}

.promo__info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 35px 44px;
  color: $color-default-white;
  background-color: $color-red;

  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 43.68px;
  }

  b {
    font-size: 70px;
    font-weight: 700;
    line-height: 59.2px;
  }

  p {
    margin-top: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}

.promo__btn {
  margin: 0;
  margin-top: 176px;
  padding: 0;
  color: $color-default-white;
  font-size: 12px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-default-white;
}
