.reviews {
  position: relative;
  padding-top: 142px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 84px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 74px;
    padding-bottom: 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 57px;
    font-size: 54px;
    letter-spacing: 1.62px;
    font-family: $ff-alumni;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
    }

    @include vp-767 {
      margin-bottom: 50px;
      font-size: 32px;
    }
  }
}

.reviews__swiper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 560px;

  @include vp-767 {
    width: 78%;
  }
}

.reviews__slide {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: min-content auto;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: space-between;
  padding: 61px 56px 42px 62px;
  color: $color-default-white;
  background-color: $color-medium-blue;

  @include vp-767 {
    grid-template-columns: 47% auto;
    grid-template-rows: min-content auto;
    column-gap: 14px;
    min-height: 335px;
    padding: 40px 25px 20px 25px;
  }

  picture {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    @include vp-767 {
      grid-row: 1 / 2;
      width: 68px;
      height: 68px;
      margin-left: 17px;
    }
  }

  h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;

    @include vp-767 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 10px;
      line-height: 150%;
    }
  }
}

.reviews__btn-wrapper {
  position: relative;
  display: block;
}

.reviews__btn {
  position: absolute;
  top: -147px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  @include vp-767 {
    display: block;
    top: -187px;
    width: 36px;
    height: 36px;
  }

  @include hover-focus {
    outline: 1px solid $color-blue;
  }

  @include active-no-focus {
    background-color: $color-blue;

    svg {
      stroke: $color-default-white;
    }
  }

  svg {
    position: absolute;
    top: 10px;
    stroke: $color-blue;

    @include vp-767 {
      top: 8px;
      height: 20px;
    }
  }

  &--next {
    left: 50%;
    transform: translateX(300px);

    @include vp-767 {
      transform: translateX(39vw);
    }

    svg {
      right: 18px;

      @include vp-767 {
        right: 10px;
      }
    }
  }

  &--prev {
    left: 50%;
    transform: translateX(-350px);

    @include vp-1199 {
      transform: translateX(-355px);
    }

    @include vp-767 {
      transform: translateX(-49vw);
    }

    svg {
      left: 15px;

      @include vp-767 {
        left: 8px;
      }
    }
  }
}

.my-button-disabled {
  opacity: 0.3;
  cursor: auto;

  @include hover-focus {
    outline: none;
  }

  @include active-no-focus {
    background-color: transparent;

    svg {
      stroke: $color-blue;
    }
  }
}

.reviews__text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-height: 108px;
  overflow-y: auto;

  @include vp-767 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-top: 0;
    max-height: 198px;
  }

  p {
    margin-top: 5px;
    line-height: 160%;
    letter-spacing: 0.4px;

    @include vp-767 {
      text-align: center;
    }
  }
}
