.social {
  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 110px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-767 {
      justify-content: start;
      padding: 0;
      column-span: all;
    }
  }

  li {
    width: 25px;
    height: 25px;

    &:not(:last-child)  {
      margin-right: 11px;
    }
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;

  svg {
    fill: $color-dark-blue;
  }

  @include hover {
    background-color: $color-additional-blue;

    svg {
      fill: $color-default-white;
    }
  }

  @include active-no-focus {
    background-color: $color-blue;
    fill: $color-default-white;

    svg {
      fill: $color-default-white;
    }
  }

  &.focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}
