.subscription-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-silver;
  background: linear-gradient(to right, $color-blue 50%, $color-default-white 50%);

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    border-top: none;
    background: linear-gradient(to top, $color-default-white 52%, $color-blue 48%);
  }

  @include vp-767 {
    background: linear-gradient(to top, $color-default-white 57%, $color-blue 43%);
  }
}

.subscription {
  color: $color-default-white;

  @include vp-1199 {
    min-height: 324px;
  }
}

.subscription__wrapper {
  padding-top: 87px;
  padding-bottom: 65px;

  @include vp-1199 {
    margin-left: -28px;
    padding: 75px 133px 38px;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 70px 15px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 54px;
    letter-spacing: 2.2px;
    font-family: $ff-alumni;

    @include vp-1199 {
      font-size: 42px;
      letter-spacing: 1.6px;
    }

    @include vp-767 {
      margin-bottom: 35px;
      font-size: 32px;
    }
  }
}

.subscription__form {
  form {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: auto auto;
    gap: 30px;

    @include vp-1199 {
      grid-template-columns: repeat(2, 206px);
      column-gap: 60px;
      row-gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      grid-auto-flow: row;
      row-gap: 25px;
    }
  }
}

.subscription__form-input {
  input {
    width: 100%;
    padding: 14px 0 5px;
    color: $color-default-white;
    border: none;
    border-bottom: 1px solid $color-silver;
    background: none;

    &::placeholder {
      font-family: $ff-roboto;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: $color-default-white;
    }
  }
}

.subscription__btn {
  padding: 18px 166px;
  font-size: 12px;
  border: 3px solid $color-default-white;
  background-color: transparent;
  color: $color-default-white;

  @include vp-1199 {
    padding: 18px 197px;
  }

  @include vp-767 {
    margin-top: 14px;
    padding: 18px 106px;
  }
}
