.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 345px;
  margin: 0 auto;
  margin-bottom: 39px;

  @include vp-767 {
    width: 280px;
  }
}

.tabs__control {
  padding: 0 0 14px 0;
  color: rgba(16, 38, 84, 0.50);
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.20);

  @include vp-1199 {
    font-size: 17px;
  }

  @include vp-767 {
    font-size: 14px;
  }

  &:nth-child(2n) {
    padding: 0 47px 14px;

    @include vp-1199 {
      padding: 0 50px 14px;
    }

    @include vp-767 {
      padding: 0 45px 14px;
    }
  }

  &.is-active {
    color: $color-blue;
    border-bottom: 2px solid $color-pink;
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.tabs__element {
  width: 100%;
}
