.trainers {
  position: relative;
}

.trainers__wrapper {
  padding-top: 106px;
  padding-bottom: 105px;
}

.trainers__wrapper h2 {
  font-size: 54px;
  font-family: $ff-alumni;
  letter-spacing: 1.62px;
}

.trainers-button {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
}
