.trainers {
  position: relative;
}

.trainers__wrapper {
  padding-top: 129px;
  padding-bottom: 105px;
}

.trainers__wrapper h2 {
  margin-top: 0;
  margin-bottom: 69px;
  font-size: 54px;
  font-family: $ff-alumni;
  letter-spacing: 1.62px;
}

.trainers__slide {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.trainers__info {
  position: relative;
  cursor: pointer;

  h4 {
    position: absolute;
    top: 227px;
    left: 30%;
    font-size: 14px;
    font-weight: 700;
    color: $color-default-white;
    line-height: 27px;
    letter-spacing: 0.3px;
  }

  &:hover {
    background-color: rgba(16, 38, 84, 0.89);
  }
}

.trainers__info:hover img {
  // background-color: rgba(16, 38, 84, 0.89);
}

.trainers__info:hover .trainers__text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(20px);
  display: block;
}

.trainers__text {
  display: none;
  font-size: 14px;
  font-weight: 400;
  color: $color-default-white;

  & ul {
    margin: 0;
    padding: 0;
  }
}

.trainers__btn {
  position: absolute;
  bottom: 229px;

  &--next {
    right: 47px;
  }

  &--prev {
    left: 47px;
  }
}
